.popular{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
height: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 50px;
        font-weight: 600;
}
.popular-item{
display: flex;
gap: 30px;
margin-top: 50px;
}
.popular hr {
           width: 200px;
        border-radius: 10px;
        height: 6px;
        background: #252525;
}